body {
  background-color: #1F5F3F;
  width: 100%;
  margin: 0 auto;
}

.contenedor {
  overflow: hidden;
}

h1 {
  text-align: center;
}

.menu-navegacion {
  background-color: #66CC35;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.menu-navegacion ul {
  list-style-type: none;
  background-color: #669933;
  text-align: center;
}

.menu-navegacion ul li {
  display: inline-block;
  border: 1px solid #000;
  padding: 5px;
  background-color: #F01447;
}

.menu-navegacion ul li a {
  text-decoration: none;
}

.cuerpo-principal {
  background-color: #A45C66;
  width: 600px;
  margin: 100px auto 0px auto;
  overflow: hidden;
}

.pie {
  background-color: #1F5F3F;
  text-align: center;
  overflow: hidden;
  height: 200px;
}

p {
  text-align: center;
}
